/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Local fonts (uncomment following lines)
@font-face {
    font-family: 'Cubano';
    src: url('cubano-regular-webfont.eot');
    src: url('cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('cubano-regular-webfont.woff') format('woff'),
         url('cubano-regular-webfont.ttf') format('truetype'),
         url('cubano-regular-webfont.svg#CubanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti';
    src: url('GT-Eesti-Pro-Display-Trial-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

$base-font: "GT Eesti";
$header-font: "Cubano";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

$base-color: $gray;
