.vision-section {
  padding-left: 1.7em;
  padding-right: 1.7em;
  .vision-item {
    padding-right: 1.5em;
    padding-left: 1.5em;
    img {
      width: 150px;
      height: 150px;
    }
    p {
      font-size: 18px;
    }
    .tag {
      color: $primary;
    }
  }
}

.for-individuals-section {
  background-color: $gray-lighter;
  position: relative;
  overflow: hidden;

  .for-individuals-title-tag {
    color: $primary;
  }

  .laptop {
    @media only screen and (min-width: 1200px) {
      position: absolute;
      width: 65em;
      right: -10em;
      bottom: 2em;
    }
    @media only screen and (max-width: 1199px) and (min-width: 992px) {
      position: absolute;
      width: 58em;
      right: -13em;
      bottom: 3em;
    }
    @media only screen and (max-width: 991px) {
      padding-top: 30px;
      width: 150%;
    }
  }
}

.for-organizations-section {
  position: relative;
  overflow: hidden;
  background-color: $dark;
  color: white;

  .for-organizations-title-tag {
    color: $secondary;
  }

  .ipad {
    @media only screen and (min-width: 1200px) {
      position: absolute;
      width: 60em;
      left: -10em;
      bottom: 2em;
    }
    @media only screen and (max-width: 1199px) and (min-width: 992px) {
      position: absolute;
      width: 44em;
      left: -10em;
      bottom: 11em;
    }
    @media only screen and (max-width: 991px) {
      padding-top: 30px;
      width: 100%;
    }
  }
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  margin-top: 60px;

  img {
    width: 70px;
    margin-right: 35px;
  }

  p {
    font-size: 18px;
  }

  .tag {
    font-family: 'Cubano';
    font-size: 28px;
  }
}

.howitworks-wrapper {
  padding-top: 2em;
}

.howitworkstext {
  font-size: 18px;
  text-align: center;
}

.calltoaction-wrapper {
  text-align: center;
  padding-top: 2em;
  color: white;
  .flag {
    color: $secondary;
  }
}

.disclaimer {
  background-color: #313e50;
  min-height: 30px;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  .light-text {
    color: $gray-lighter;
  }
}

