<div class="banner" style=" text-align: center; display: flex;
align-items: center;
justify-content: center; background-image: url('http://www.hipsthetic.com/wp-content/uploads/2016/04/Desert-Night-Desktop-Wallpaper.png');">
<div class="banner-content">
  <h1>Keep employees aboard!</h1>
  <p>Flaresights lets you shoot for the moon, protecting the lifestyle of your teams.</p>

  <form class="form-inline" style="margin-top: 96px; margin-bottom: -65px;">
    <input type="email" class="form-control" id="email" Placeholder="Your email...." style="margin-right:0px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
    <button type="submit" class="btn btn-primary" style="margin-left:0px; border-top-right-radius: 8px; border-bottom-right-radius: 8px;">Get started</button>
  </form>
</div>
</div>
