<div class="banner" style=" text-align: center; display: flex;
align-items: center; justify-content: center; background-image: url('http://s3.eu-central-1.amazonaws.com/flaresights/flaresights-background.png');">
<div class="banner-content">
  <h1>Keep employees aboard!</h1>
  <p>Flaresights lets you shoot for the moon, protecting the lifestyle of your teams.</p>
  <div class="cta-form">
    <%= render 'pages/home/ctaform' %>
  </div>
</div>
</div>
