<div class="banner" style=" text-align: center; display: flex;
align-items: center; justify-content: center; background-image: url('http://s3.eu-central-1.amazonaws.com/flaresights/flaresights-background.png');">
<div class="banner-content">
  <h1><%= title %></h1>
  <p><%= subtitle %></p>
  <% if cta %>
  <div style="margin-top: 96px; margin-bottom: -65px;">
    <%= render 'pages/home/ctaform' %>
  </div>
  <% end %>
</div>
</div>
