
<div style="background-size: cover !important;background-image: url('http://www.hipsthetic.com/wp-content/uploads/2016/04/Desert-Night-Desktop-Wallpaper.png');">

  <div class=" padded calltoaction-wrapper">
    <h1>Are you a visionary employer? Join our beta.</h1>


    <form class="form-inline" style="margin-top: 50px;">
      <input type="email" class="form-control" id="email" Placeholder="Your email...." style="margin-right:0px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
      <button type="submit" class="btn btn-primary" style="margin-left:0px; border-top-right-radius: 8px; border-bottom-right-radius: 8px;">Get started</button>
    </form>

    <br>
    <br>
    <p style="font-size: 18px;">Flaresights is brought to you by two hard-working folks who've been there too!</p>


    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center">
        <%= image_tag "thomas.jpg", class: "team" %>
        <h4 style="margin-bottom: 0px;">Thomas</h4>
        <h4 style="margin-top: 0px;">Vanderstraeten</h4>
        <p>Former Bain & Company Consultant </p>
        <p>MsC in Applied Mathematics, UCL</p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= image_tag "adrien.jpg", class: "team" %>
        <h4 style="margin-bottom: 0px;">Adrien</h4>
        <h4 style="margin-top: 0px;">van den Branden</h4>
        <p>Former Linklaters Associate </p>
        <p>LLM, Cambridge</p>
      </div>
    </div>

  </div>
</div>
