
<div style="background-size: cover !important;background-image: url('http://s3.eu-central-1.amazonaws.com/flaresights/flaresights-background.png');">

  <div class=" padded calltoaction-wrapper">
    <h1>Are you a visionary employer? Join our beta.</h1>

    <br>
    <br>

    <%= render 'pages/home/ctaform' %>

    <br>
    <br>
    <p style="font-size: 18px; color: rgba(255, 255, 255, 0.7);">Flaresights is brought to you by two hard-working folks who've been there too. <br>Our mission is to let you combine bold business results with stellar employees lifestyle.</p>

    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center">
        <%= image_tag "thomas.jpg", class: "team" %>
        <h4 style="margin-bottom: 0px;">Thomas</h4>
        <h4 style="margin-top: 0px;">Vanderstraeten</h4>
        <p>Former Bain & Company Consultant </p>
        <p>MSc in Applied Mathematics, UCL</p>
        <a target="blank" href="https://www.linkedin.com/in/thomas-vanderstraeten" class="btn btn-linkedin-perso btn-sm">
          <span class="fa fa-linkedin"></span>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= image_tag "adrien.jpg", class: "team" %>
        <h4 style="margin-bottom: 0px;">Adrien</h4>
        <h4 style="margin-top: 0px;">van den Branden</h4>
        <p>Former Linklaters Associate </p>
        <p>LLM, Cambridge</p>
        <a target="blank" href="https://be.linkedin.com/in/adrien-vandenbranden" class="btn btn-linkedin-perso btn-sm">
          <span class="fa fa-linkedin"></span>
        </a>
      </div>
    </div>
  </div>
</div>
