<div class="wrapper padded carousel-wrapper" style="background-image: linear-gradient(-200deg, rgba(49,62,80,0.7) 40%, rgba(49,62,80,0.7) 80%)">
  <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="9000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="carousel-title">
          <h1>A <span class="flag">new way of caring</span> for employees</h1>
        </div>
        <div class="carousel-subtitle">
          <p>Flaresights lets people managers level up the game in what they do best<span style="font-family:'Arial'">:</span> care for employees. Its intuitive metrics and features provide data-driven insights into the lifestyle picture of the company.</p>
        </div>
        <%= image_tag "Company.png", class: "screenshot" %>
      </div>
      <div class="item">
        <div class="carousel-title">
          <h1>Built to <span class="flag">empower teams</span></h1>
        </div>
        <div class="carousel-subtitle">
          <p>Flaresights provides a sound monitoring and discussion framework for teams willing to improve their lifestyle in demanding work environments. It is the single-stop shop to ensure everyone thrives.</p>
        </div>
        <%= image_tag "Team.png", class: "screenshot" %>
      </div>
      <div class="item">
        <div class="carousel-title">
          <h1>Reflecting <span class="flag">invidual needs</span></h1>
        </div>
        <div class="carousel-subtitle">
          <p>Because we all have different lifestyle needs, Flaresights enables the tailoring of sustainability guidelines individually for each employee. So the lifestyle of all is uniquely taken care of. </p>
        </div>
        <%= image_tag "Individual.png", class: "screenshot" %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
