
<div class="disclaimer">
  <span class="light-text">Welcome to this early Flaresights website. Please do <%= mail_to("vanderstraeten.thomas@gmail.com", "let us know") %> your feedback. Cheers, the Team</span>
</div>
