<div class="for-individuals-section padded">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <h1>
        EMPOWERING
        <span class="for-individuals-title-tag">
        INDIVIDUALS
        </span>
      </h1>
      <div class="feature">
        <%= image_tag "gauge.png" %><p><span class="tag">BE IN CONTROL</span> Get a critical step-back on your fast-paced work activity. Know where you stand and be the master of your balance.</p>
      </div>

      <div class="feature">
        <%= image_tag "sprinkle-stars.png" %><p><span class="tag">IMPROVE</span> Understand the drivers behind your working style to uncover improvement actions. Benchmark and share best practices with peers.</p>
      </div>

      <div class="feature">
        <%= image_tag "lock.png" %><p><span class="tag">PRIVACY</span> Flaresights only shares aggregated or anonymized data in your organization, letting HR access only one composite personal metric.</p>
      </div>
    </div>
    <%= image_tag "employeescreenshot.png", class: "laptop" %>
  </div>
</div>
