<div class="section-laptop section-ipad padded">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-7">
      <h1>IMPROVING <span style="color: #f6feaa;">ORGANIZATIONS</span></h1>
      <div class="feature">
        <%= image_tag "like.png", class: "feature-li" %><p style="font-size: 18px;"><span style="font-family: 'Cubano'; font-size: 28px;">DRIVE RETENTION</span> Unleash the power of people analytics to foster employees well-being and ultimately improve staff retention.</p>
      </div>

      <div class="feature">
        <%= image_tag "speed.png", class: "feature-li" %><p style="font-size: 18px;"><span style="font-family: 'Cubano'; font-size: 28px;">GET THE FACTS</span> Rely on fact-based management dashboards to pilot your company work-life balance.</p>
      </div>

      <div class="feature">
        <%= image_tag "conversation.png", class: "feature-li" %><p style="font-size: 18px;"><span style="font-family: 'Cubano'; font-size: 28px;">PEOPLE OVER PROCESS</span> Flaresights lets you automate action points and follow-up tasks, so you can focus on your people. </p>
      </div>
    </div>
    <%= image_tag "ipad.png", class: "ipad" %>
  </div>
</div>
