<div class="section-laptop padded">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <h1>EMPOWERING <span style="color: #ef476f">INDIVIDUALS</span></h1>
      <div class="feature">
        <%= image_tag "gauge.png", class: "feature-li" %><p style="font-size: 18px;"><span style="font-family: 'Cubano'; font-size: 28px;">BE IN CONTROL</span> Get a critical step-back on your fast-paced work activity. Know where you stand and be the master of your balance.</p>
      </div>

      <div class="feature">
        <%= image_tag "sprinkle-stars.png", class: "feature-li" %><p style="font-size: 18px;"><span style="font-family: 'Cubano'; font-size: 28px;">IMPROVE</span> Understand the drivers behind your working style to uncover improvement actions. Benchmark and share best practices with peers.</p>
      </div>

      <div class="feature">
        <%= image_tag "lock.png", class: "feature-li" %><p style="font-size: 18px;"><span style="font-family: 'Cubano'; font-size: 28px;">PRIVACY</span> Flaresights only shares aggregated or anonymized data in your organization, letting HR access only one composite personal metric. </p>
      </div>
    </div>
    <%= image_tag "employeescreenshot.png", class: "laptop" %>
  </div>
</div>
