<div class="wrapper padded vision-section">
  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="vision-item">
        <%= image_tag "rocket2.png" %>
        <h3>For the <span class="tag">hard-working</span> teams</h3>
        <p>We believe work teams are like astronauts on a mission: They do great things, and deserve best-in-class protection. So we've built Flaresights to safeguard their lifestyle.</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 text-center">
      <div class="vision-item">
        <%= image_tag "fireworks.png" %>
        <h3>Making all <span class="tag">individuals shine</span></h3>
        <p>When they have great lifestyles, people are happier, more productive, and achieve great stuff. Flaresights helps all thrive in their work, from junior analyst to manager to executive.</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 text-center">
      <div class="vision-item">
        <%= image_tag "cardiogram.png" %>
        <h3>Supporting <span class="tag">people managers</span></h3>
        <p>For the caring HR teams, Flaresights provides early-warning tools for lifestyle issues, with hassle-free follow-up. Now people managers can focus on people instead of processes.</p>
      </div>
    </div>
  </div>
</div>
