
<div class="wrapper padded">
  <div class="row">
    <div class="col-xs-4 text-center">
      <%= image_tag "rocket2.png", class: "vignette" %>
    </div>
    <div class="col-xs-8">
      <h3>Built for the <span style="color: #ef476f">hard-working</span> teams</h3>
      <p style="font-size: 18px;">At Flaresights, we believe teams in challenging work environments are like astronauts on a mission: They do great things, and deserve best-in-class protection. So we've built a suite of tools to safeguard their lifestyle even in demanding environments.</p>
    </div>
  </div>

  <br>
  <br>

  <div class="row">

    <div class="col-xs-8">
      <h3>Making <span style="color: #ef476f">individuals shine</span></h3>
      <p style="font-size: 18px;">When they have great lifestyles, people are happier, more productive, and achieve great stuff. With its features tailored for each seniority span, Flaresights helps all thrive in their work, from junior analyst to manager to director.</p>
    </div>
    <div class="col-xs-4 text-center">
      <%= image_tag "fireworks.png", class: "vignette" %>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-xs-4 text-center">
      <%= image_tag "cardiogram.png", class: "vignette" %>
    </div>
    <div class="col-xs-8">
      <h3>Simplifying <span style="color: #ef476f">people managers'</span> work</h3>
      <p style="font-size: 18px;">For the caring HR teams committed to the well-being of their people, Flaresights provides early-warning tools for lifestyle issues, as well as convenient automated follow-up. Now people managers can care for each employee in a unique way.</p>
    </div>
  </div>

</div>
