<%= render 'pages/home/banner', title: "Welcome to the beta run", subtitle: "It's great to have you on board.", cta: false %>

<div class="help-disclaimer">
<span class="light-text">This page aims to answer most of your questions during the beta run of Flaresights at Bain & Company. <%= mail_to("vanderstraeten.thomas@gmail.com", "Contact us") %> directly if you want to know more.</span>
  <div>
    <%= image_tag "thomas.jpg", class: "support" %>
    <%= image_tag "adrien.jpg", class: "support" %>
  </div>
</div>
