<div class="banner" style="background-image: url('http://www.hipsthetic.com/wp-content/uploads/2016/04/Desert-Night-Desktop-Wallpaper.png');">
  <div class="banner-content">
    <h1>Keep everyone aboard!</h1>
    <p>Flaresights lets teams shoot for the moon, keeping a great lifestyle.</p>

    <form class="form-inline" style="margin-top: 96px; margin-bottom: -65px;">
      <input type="email" class="form-control" id="email" Placeholder="Your email...." style="margin-right:0px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
      <button type="submit" class="btn btn-primary" style="margin-left:0px; border-top-right-radius: 8px; border-bottom-right-radius: 8px;">Get started</button>
    </form>
  </div>
</div>


<div class="wrapper padded">
  <div class="row">
    <div class="col-xs-4 text-center">
      <%= image_tag "rocket2.png", class: "vignette" %>
    </div>
    <div class="col-xs-8">
      <h3>Built for the <span style="color: #ef476f">hard-working</span> teams</h3>
      <p style="font-size: 18px;">Teams in challenging work environments are like astronauts: They do great things, and deserve the best protection in their missions. That's why we've built a suite of tools to safeguard the lifestyle of teams even in demanding environments.</p>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">

    <div class="col-xs-8">
      <h3>Making <span style="color: #ef476f">individuals shine</span></h3>
      <p style="font-size: 18px;">When they have great lifestyles, people are happier, more productive, and achieve great stuff. With its features tailored for each seniority span, Flaresights helps all thrive in their work, from junior analyst to manager to director.</p>
    </div>
    <div class="col-xs-4 text-center">
      <%= image_tag "fireworks.png", class: "vignette" %>
    </div>
  </div>


  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-xs-4 text-center">
      <%= image_tag "cardiogram.png", class: "vignette" %>
    </div>
    <div class="col-xs-8">
      <h3>Simplifying <span style="color: #ef476f">people managers'</span> work</h3>
      <p style="font-size: 18px;">For the caring HR teams committed to the well-being of their people, Flaresights provides early-warning tools for lifestyle issues, as well as convenient automated follow-up. Now people managers can care for each employee in a unique way.</p>
    </div>
  </div>

</div>



<div class="disclaimer">
  <span class="light-text">Hi there, welcome to the test-run version of Flaresights. Please do </span><u>let us know</u><span class="light-text"> your feedback. Cheers, the Team</span>
</div>
