.carousel-control.left, .carousel-control.right{
    background: none !important;
    // filter: progid:none !important;
}

.carousel-wrapper {
  background-color: #313e50;
  padding-top: 3em;
}

.carousel-title {
  text-align: center;
  color: white;
  h1 {
    .flag {
      color: #f6feaa;
    }
  }
}

.carousel-subtitle {
  text-align: center;
  p {
    font-size: 18px;
    color: white;
  }
}
